body {
  background-color: rgb(35, 16, 47);
  font-family: 'Roboto';
}

body::-webkit-scrollbar {
  display: none;
}

header {
  display: flex;
  justify-content: center;
  color: rgb(250, 250, 250);
  font-size: 40px;
  font-weight: bold;
  position: relative;
  background-color: rgb(118, 25, 179);
}

img {
  cursor: grab;
  width: 600px;
  height: 600px;
}

.frameOut {
  display: flex;
  justify-content: center;
}

.squeezes {
  width: 130px;
  display: inline-block;
}

#counter {
  display: inline-block;
}