body {
  background-color: rgb(35, 16, 47);
  display: flex;
  justify-content: center;
  font-family: 'Roboto';
}

body::-webkit-scrollbar {
  display: none;
}

header {
  display: flex;
  color: white;
  font-size: 40px;
  font-weight: bold;
  position: relative;
}



img {
  cursor: grab;
  width: 800px;
  height: 1000px;
}

.frameOut {
  display: flex;
}

#counter {
  position: absolute;
  margin-left: 140px;
}